/* Chrome browser */
@media only screen and (max-width: 400px) {

}

/* Mobile */
@media only screen and (max-width: 767px) {

  aboveFold {
    height: auto !important;
  }
  aboveFold .hero.image {
    float: none;
    position: static;
    height: 200px !important;
    margin: 0 auto 2rem;
  }
  aboveFold copy {
    max-width: 80%;
    margin: 0 10%;
    text-align: center;
  }
  aboveFold copy .ui.header {
    font-size: 32px !important;
  }

  topbar .github {
    width: 50px;
    margin-top: 6px;
  }

  .ui.stackable.cards {
    margin: 1rem 0rem;
  }
}
