@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700i|Fira+Sans');

/*
  UI
*/

contentInject {
  font-family: 'Fira Sans';
}

/* Header */
contentInject .header {
  font-family: 'Cormorant Garamond';
}

/* Button */
contentInject .button {
  display: inline-block;
  cursor: pointer;
  margin: 0px 7px 0px 0px;
  background-color: #000000;
  transition: 0.2s all ease;
  padding: 12px 15px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}
contentInject .button {
  background-color: #EEEEEE;
  color: #555555;
}
contentInject .button:hover {
  background-color: #DDDDDD;
}
contentInject .primary.button {
  background-color: #000000;
  color: #FFFFFF;
}
contentInject .primary.button:hover {
  background-color: #EC5E5E;
}


/* Dimmer */
contentInject .dimmer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 10;
  transition: 0.5s ease opacity;
}
contentInject .dimmer > canvas {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
contentInject .dimmer .confetti {
  position: absolute;
  width: 100%;
  height: 100%;
}
contentInject .dimmer.visible {
  pointer-events: auto;
  opacity: 1;
}

/* Modal */
contentInject .modal {
  display: none;
  flex-direction: column;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  overflow: hidden;
  width: 800px;
  min-height: 500px;
  z-index: 11;
  opacity: 0;
  transition: 0.5s ease opacity;
}
contentInject .modal.visible {
  display: flex;
  opacity: 1;
}
contentInject .modal > .header {
  font-size: 36px;
  font-weight: bold;
  padding: 2rem 2rem;
  flex: 0 1 auto;
  border-bottom: 1px solid #DADADA;
}
contentInject .modal .content {
  padding: 1rem 2rem;
  flex: 1 1 auto;
}
contentInject .modal .content .header {
  font-family: 'Fira Sans';
  font-size: 18px;
  margin: 15px 0px 10px;
  line-height: 1.4;
  padding: 0px;
}
contentInject .modal .content p {
  font-size: 14px !important;
}
contentInject .modal .message {
  background-color: #EAEAEA;
  border-radius: 5px;
  padding: 1rem;
}
contentInject .modal .actions {
  padding: 2rem 2rem;
  text-align: right;
}
contentInject .modal .actions .button {
  margin: 0px 0px 0px 14px;
}

/* Forms */
contentInject .fields {
  display: flex;
  flex-direction: row;
  margin: 0rem -1rem -1rem;
}
contentInject .fields .field {
  flex: 1 0 auto;
  margin: 1rem 1rem;
}
contentInject .fields .field label {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 3px;
}
contentInject .fields .field select,
contentInject .fields .field input {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding: 10px 8px;
}
contentInject .fields .field select,
contentInject .fields .field input[type="text"] {
  width: 100%;
}
contentInject .fields .field input:focus {
  border: 1px solid #AAAAAA !important;
  outline: none !important;
}

contentInject .fields .field.error select,
contentInject .fields .field.error input[type="text"] {
  background-color: #FFF6F6;
  border-color: #EFB2B2;
}

/* Grid */
contentInject .grid {
  display: flex;
  flex-direction: row;
}
contentInject .grid > .column {
  flex-grow: 1;
  width: 50%;
}

/* Table */
contentInject table td {
  padding: 5px 8px;
}
contentInject table td:first-child {
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 0px;
}

contentInject table td:last-child {
  font-weight: bold;
  color: #000000;
}

/* Loader */
contentInject .loader {
  position: relative;
  width: 50px;
  height: 50px;
  left: -25px;
}
contentInject .loader:after {
  animation: loader 500ms linear;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #272727 #272727 #CCCCCC #CCCCCC;
  border-style: solid;
  border-width: 3px;
}
contentInject .loader:after,
contentInject .loader:before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
}
/* Active Animation */
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

contentInject overlay {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 430px;
  padding: 20px 25px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 1px solid #ECECEC;
  box-shadow:
    0px 15px 35px rgba(50, 50, 93, 0.1),
    0px 5px 15px rgba(0, 0, 0, 0.07)
  ;
  z-index: 99999;
  opacity: 0;
  transform: translateY(-400px);
  transition: transform 0.5s ease;
}
contentInject overlay.visible {
  opacity: 1;
  transform: translateY(0px);
}
contentInject overlay top {
  display: flex;
  flex-direction: row;
}
contentInject overlay top .content {
  flex: 1 0 auto;
}
contentInject overlay top .content .status {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
contentInject overlay top .content .progress {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
contentInject overlay top .loader {
  flex: 0 1 auto;
}
contentInject overlay top .loader + .content {
  padding-left: 20px;
}
contentInject overlay bottom .logo {
  float: right;
  padding: 0px !important;
}
contentInject overlay bottom .logo img {
  display: block;
  height: 30px !important;
}
contentInject overlay bottom {
  display: block;
  padding: 1rem 0rem 0rem;
}
contentInject overlay bottom a {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  vertical-align: top;
  font-weight: bold;
  text-decoration: none;
}
contentInject overlay bottom a:hover {
  color: #009FDA;
  text-decoration: none !important;
}

