body {
  min-height: 100%;
  height: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body > .dimmer {
  will-change: opacity, transform;
}

/*--------------
   Tracking
---------------*/

/* pixel trackers */
head img {
  display: none;
}

/*--------------
   Page Layout
---------------*/

body > page {
  flex-direction: column;
  min-height: 100vh;
}
body > page > content > * {
  display: block;
}
body > page > content {
  display: block;
  flex-grow: 1;
}

/* SEO Header */
body > h1 {
  display: none !important;
}

/*--------------
   Above Fold
---------------*/

aboveFold,
aboveFold bg {
  background-size: cover;
}

/*--------------
    Top Bar
---------------*/

topBar .item > .ui.button {
  font-size: 12px !important;
}
topBar {
  position: absolute;
  top: 25px;
  width: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100;
  will-change: background, padding, transform;
}


/*--------------
Ribbon
---------------*/

.ribbon {
  position: relative;
  padding: 90px 0;
}
.ribbon h1 {
  display: none;
}
.ribbon h2 {
  font-size: 36px;
}
.ribbon h2 + p {
  font-size: 21px;
}
.ribbon copy p {
  font-size: 21px;
}

/* Inverted Copy */
.ribbon copy.inverted .header {
  color: #ffffff;
}
.ribbon copy.inverted p {
  color: rgba(255, 255, 255, 0.6);
}

/*--------------
     Footer
---------------*/

footer {
  padding: 30px 0px;
  color: rgba(0, 0, 0, 0.4);
}


/*--------------
   Responsive
---------------*/

/* Computer */
@media only screen and (max-width: 1200px) {
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Mobile */
@media only screen and (max-width: 767px) {
}
